/* Make something awesome! */
@font-face {
    font-family: 'juice_regularregular';
    src: url('typeface/Juice/JUICE_Regular-webfont.eot');
    src: url('typeface/Juice/JUICE_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('typeface/Juice/JUICE_Regular-webfont.woff') format('woff'),
         url('typeface/Juice/JUICE_Regular-webfont.ttf') format('truetype'),
         url('typeface/Juice/JUICE_Regular-webfont.svg#juice_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'junction_regularregular';
    src: url('typeface/Junction/Junction-webfont.eot');
    src: url('typeface/Junction/Junction-webfont.eot?#iefix') format('embedded-opentype'),
         url('typeface/Junction/Junction-webfont.woff') format('woff'),
         url('typeface/Junction/Junction-webfont.ttf') format('truetype'),
         url('typeface/Junction/Junction-webfont.svg#junction_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aaarghnormal';
    src: url('typeface/aaargh/Aaargh-webfont.eot');
    src: url('typeface/aaargh/Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('typeface/aaargh/Aaargh-webfont.woff') format('woff'),
         url('typeface/aaargh/Aaargh-webfont.ttf') format('truetype'),
         url('typeface/aaargh/Aaargh-webfont.svg#aaarghnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
	font-family: 'Munro';
	src: url('typeface/Munro/Munro.eot?') format('eot'), 
	     url('typeface/Munro/Munro.woff') format('woff'), 
	     url('typeface/Munro/Munro.ttf')  format('truetype'),
	     url('typeface/Munro/Munro.svg#Munro') format('svg');
}

@font-face {
    font-family: 'cuprum';
    src: url('typeface/cuprum/Cuprum-Regular-webfont.eot');
    src: url('typeface/cuprum/Cuprum-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('typeface/cuprum/Cuprum-Regular-webfont.woff') format('woff'),
         url('typeface/cuprum/Cuprum-Regular-webfont.ttf') format('truetype'),
         url('typeface/cuprum/Cuprum-Regular-webfont.svg#cuprumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'contraregular';
    src: url('typeface/contra/contra-webfont.eot');
    src: url('typeface/contra/contra-webfont.eot?#iefix') format('embedded-opentype'),
         url('typeface/contra/contra-webfont.woff') format('woff'),
         url('typeface/contra/contra-webfont.ttf') format('truetype'),
         url('typeface/contra/contra-webfont.svg#contraregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exo_2.0medium';
    src: url('typeface/exo2/Exo2.0-Medium-webfont.eot');
    src: url('typeface/exo2/Exo2.0-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('typeface/exo2/Exo2.0-Medium-webfont.woff') format('woff'),
         url('typeface/exo2/Exo2.0-Medium-webfont.ttf') format('truetype'),
         url('typeface/exo2/Exo2.0-Medium-webfont.svg#exo_2.0medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on March 12, 2014 */



@font-face {
    font-family: 'banksiaregular';
    src: url('typeface/banksia/banksia-webfont.eot');
    src: url('typeface/banksia/banksia-webfont.eot?#iefix') format('embedded-opentype'),
         url('typeface/banksia/banksia-webfont.woff') format('woff'),
         url('typeface/banksia/banksia-webfont.ttf') format('truetype'),
         url('typeface/banksia/banksia-webfont.svg#banksiaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'File';
	src: url('typeface/file/File.eot?') format('eot'), 
	     url('typeface/file/File.otf')  format('opentype'),
	     url('typeface/file/File.woff') format('woff'), 
	     url('typeface/file/File.ttf')  format('truetype'),
	     url('typeface/file/File.svg#File') format('svg');
}

@font-face {
    font-family: 'geometry_soft_probold_n';
    src: url('typeface/geometry-soft/Geometry_Soft_Pro-Bold_N-webfont.eot');
    src: url('typeface/geometry-soft/Geometry_Soft_Pro-Bold_N-webfont.eot?#iefix') format('embedded-opentype'),
         url('typeface/geometry-soft/Geometry_Soft_Pro-Bold_N-webfont.woff') format('woff'),
         url('typeface/geometry-soft/Geometry_Soft_Pro-Bold_N-webfont.ttf') format('truetype'),
         url('typeface/geometry-soft/Geometry_Soft_Pro-Bold_N-webfont.svg#geometry_soft_probold_n') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gandhi';
    src: url('typeface/gandhi/GandhiSans-Regular-webfont.eot');
    src: url('typeface/gandhi/GandhiSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('typeface/gandhi/GandhiSans-Regular-webfont.woff') format('woff'),
         url('typeface/gandhi/GandhiSans-Regular-webfont.ttf') format('truetype'),
         url('typeface/gandhi/GandhiSans-Regular-webfont.svg#gandhi_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
	font-family: 'JuraMedium';
	src: url('typeface/jura/JuraMedium.eot?') format('eot'), 
	     url('typeface/jura/JuraMedium.otf')  format('opentype'),
	     url('typeface/jura/JuraMedium.woff') format('woff'), 
	     url('typeface/jura/JuraMedium.ttf')  format('truetype'),
	     url('typeface/jura/JuraMedium.svg#JuraMedium') format('svg');
}


@font-face {
    font-family: 'molotregular';
    src: url('typeface/molot/Molot-webfont.eot');
    src: url('typeface/molot/Molot-webfont.eot?#iefix') format('embedded-opentype'),
         url('typeface/molot/Molot-webfont.woff') format('woff'),
         url('typeface/molot/Molot-webfont.ttf') format('truetype'),
         url('typeface/molot/Molot-webfont.svg#molotregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cantarellregular';
    src: url('typeface/cantarell/Cantarell-Regular-webfont.eot');
    src: url('typeface/cantarell/Cantarell-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('typeface/cantarell/Cantarell-Regular-webfont.woff') format('woff'),
         url('typeface/cantarell/Cantarell-Regular-webfont.ttf') format('truetype'),
         url('typeface/cantarell/Cantarell-Regular-webfont.svg#cantarellregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'Inder';
	src: url('typeface/inder/Inder-Regular.eot?') format('eot'), 
	     url('typeface/inder/Inder-Regular.otf')  format('opentype'),
	     url('typeface/inder/Inder-Regular.woff') format('woff'), 
	     url('typeface/inder/Inder-Regular.ttf')  format('truetype'),
	     url('typeface/inder/Inder-Regular.svg#Inder-Regular') format('svg');
}

@font-face {
	font-family: 'Geo';
	src: url('typeface/geo/Geo.eot?') format('eot'), 
	     url('typeface/geo/Geo.otf')  format('opentype'),
	     url('typeface/geo/Geo.woff') format('woff'), 
	     url('typeface/geo/Geo.ttf')  format('truetype'),
	     url('typeface/geo/Geo.svg#Geo') format('svg');
}


body {
font-family: "Carrois Gothic SC";
font-size: 14px;
line-height: 1.428571429;
color: #fff;
background-color: #242424;
}

.panel {
margin-bottom: 20px;
background-color: rgba(9,9,8,0.9);
border: 0px solid transparent;
border-radius: 0px;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.nav>li>a:hover, .nav>li>a:focus {
text-decoration: none;
background-color: inherit;
color: #fff;
}

a:hover, a:focus {
color: #fff;
text-decoration: none;
}

.active
{
	color: #09f;
	text-decoration: underline;		
	
}

.active:hover
{	
	text-decoration: underline;	
}

a 
{
	color:#bababa;
}

.product-link:hover>.row>.col-md-12>h4
{	
	color: #fff;
}

.product-link:hover
{
	border: 2px solid transparent;
	color: #fff;
}

.product-link-sm
{
min-height: 15px;
padding: 6px;
margin-bottom: 20px;
background-color: inherit;
border-color: transparent;
border: 0px solid #303030;
border-radius: 0px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

.product-link
{
min-height: 20px;
padding: 0px;
margin-bottom: 40px;
background-color: inherit;
border-color: transparent;
border: 0px solid #303030;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

.well, .well-sm, .well-lg {
min-height: 20px;
padding: 19px;
margin-bottom: 20px;
background-color: #212121;
border-color: transparent;
border: 0px solid #303030;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

.badge {
background-color: #09f;
}

hr {
margin-top: 20px;
margin-bottom: 20px;
border: 5;
border-top: 1px solid #303030
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
color: #fff;
text-decoration: none;
background-color: rgb(9,9,8);
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
background-color: #bababa;
border-color: #242424;
}

.nav a:hover .caret {
border-top-color: rgb(9,9,8);
border-bottom-color: rgb(9,9,8);
}

.text-primary {
color: #09f;
}

.pager li>a, .pager li>span {
display: inline-block;
padding: 5px 14px;
background-color: rgb(9,9,8);
border: 1px solid transparent;
border-radius: 15px;
}

.pager li>a:hover, .pager li>a:focus {
text-decoration: none;
background-color: rgb(9,9,8);
color: #fff;
}

.btn-primary {
color: #fff;
background-color: #09f;
border-color: #09f;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
color: #fff;
background-color: #08d;
border-color: #09f;
}

.top-bottom-space
{
	margin-top: 20px;
	margin-bottom: 90px;
}

footer
{
	background-color: rgba(9,9,8,0.9);
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12
{
	padding-right: 10px;
	padding-left: 10px;
}

.gothic
{
font-family: "Carrois Gothic SC";	
}

.molot
{
font-family: "molotregular";
letter-spacing: 1px;
}

.catalog-desc
{
	color:#bababa;
}

h1,h2,h3
{
	font-family: "molotregular";
	letter-spacing: 1px;
}