<html>
<head>
  <meta name="google-signin-client_id" content="858976915070-f2higqaj6iu3gpuijmddhqs973ihlf9m.apps.googleusercontent.com">
</head>
<body>

<script>

function post(path, params, method)
{
    method = method || "post"; // Set method to post by default if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
         }
    }

    document.body.appendChild(form);
    form.submit();
}


function onSignIn(googleUser)
{
  // Useful data for your client-side scripts:
  var profile = googleUser.getBasicProfile();
  console.log("ID: " + profile.getId()); // Don't send this directly to your server!
  console.log("Name: " + profile.getName());
  console.log("Image URL: " + profile.getImageUrl());
  console.log("Email: " + profile.getEmail());

  var form_url = document.getElementById('login_form').getAttribute('action');
  var redirect_url = form_url.split('?');
  var post_url = "external_auth"+"?"+redirect_url[1];
  post(post_url, {username: profile.getName(), email: profile.getEmail()} );

}
function onFailure(error)
{
  console.log(error);
}

</script>

<script src="https://apis.google.com/js/platform.js" async defer></script>
  
</body>
</html>